#navbar{
    background-color: white;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    align-items: center;
    right: 0%;
    border-bottom: 5px #2E384D solid;
}

#titleIndex{
    font-size: 3rem;
    color: white;
    text-shadow: 0 0.1em 20px rgba(0, 0, 0, 1), 0.05em -0.03em 0 rgba(0, 0, 0, 1),
      0.05em 0.005em 0 rgba(0, 0, 0, 1), 0em 0.08em 0 rgba(0, 0, 0, 1),
      0.05em 0.08em 0 rgba(0, 0, 0, 1), 0px -0.03em 0 rgba(0, 0, 0, 1),
      -0.03em -0.03em 0 rgba(0, 0, 0, 1), -0.03em 0.08em 0 rgba(0, 0, 0, 1), -0.03em 0 0 rgba(0, 0, 0, 1);
}


#buttonNav{
    text-decoration: none;
    outline: none;
    margin-left: 1rem;
    font-size: 2.5rem;

    color: #333;
    padding: 10px 50px;
    border-radius: 5px;
    border: 2px solid #333;

    transition: 1s;
}

#buttonNav:hover{
    color: white;
    background-color: #333;
    border: 2px inherit #2E384D;
}