.jumbotron{
    text-align: center;
    margin-top: 10%;
    padding: 8% 15%;
    border: 5px white solid;
    color: white;
    background-color: #2E384D;

    transition: 1s;
}
.jumbotron:hover{
    border-radius: 15px;
    color: #2E384D;
    background-color: white;
    border: 5px solid #2E384D;
}


#buttonIndex{
    text-decoration: none;
    border: white 3px solid;
    font-size: 1.5rem;
    background-color: #333;
    color: white;
    transition: 1s;
}

#buttonIndex:hover{
    font-size: 2rem;
    padding: 10px;
}

#titleIndex{
    font-size: 5rem;
}

#textIndex{
    font-size: 2rem;
}