

.contentLogin{
    background-image: url('../../assets/wall.jpg');
    background-size: cover;
    height: 100vh;
    width: 100%;

    display: flex;
    justify-content: center;
}

#containerLogin{
    margin:8%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: rgb(225, 196, 65);
    border-radius: 10px;
}


@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap');
#leftPanel{
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    
}

#buttonReturn{
    text-decoration: none;
    display: flex;
    align-items: center;
    

    font-size: 1.5rem;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;

    color: white;
    text-shadow: 0 0.1em 20px rgba(0, 0, 0, 1), 0.05em -0.03em 0 rgba(0, 0, 0, 1),
      0.05em 0.005em 0 rgba(0, 0, 0, 1), 0em 0.08em 0 rgba(0, 0, 0, 1),
      0.05em 0.08em 0 rgba(0, 0, 0, 1), 0px -0.03em 0 rgba(0, 0, 0, 1),
      -0.03em -0.03em 0 rgba(0, 0, 0, 1), -0.03em 0.08em 0 rgba(0, 0, 0, 1), -0.03em 0 0 rgba(0, 0, 0, 1);
}

#iconButton{
    border: 1px solid;
    margin-right: 0.5rem;
    color: white;
    text-shadow: 0 0.1em 20px rgba(0, 0, 0, 1), 0.05em -0.03em 0 rgba(0, 0, 0, 1),
      0.05em 0.005em 0 rgba(0, 0, 0, 1), 0em 0.08em 0 rgba(0, 0, 0, 1),
      0.05em 0.08em 0 rgba(0, 0, 0, 1), 0px -0.03em 0 rgba(0, 0, 0, 1),
      -0.03em -0.03em 0 rgba(0, 0, 0, 1), -0.03em 0.08em 0 rgba(0, 0, 0, 1), -0.03em 0 0 rgba(0, 0, 0, 1);
}

#titleLogin{
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
    margin-bottom: 2rem;
}

#leftPanel img{
    align-items: center;
    width: 100%;
}

#rigthPanel{
    text-align: center;

    border-radius: 10px;
    background-color: var(--background);
    width: 100%;
    height: 100%;

    align-items: center;
    display: initial;
    justify-content: center;
}

#titleRight{
        margin: 0;
        font-size: 3em;
        padding: 0;
        color: white;
        text-shadow: 0 0.1em 20px rgba(0, 0, 0, 1), 0.05em -0.03em 0 rgba(0, 0, 0, 1),
          0.05em 0.005em 0 rgba(0, 0, 0, 1), 0em 0.08em 0 rgba(0, 0, 0, 1),
          0.05em 0.08em 0 rgba(0, 0, 0, 1), 0px -0.03em 0 rgba(0, 0, 0, 1),
          -0.03em -0.03em 0 rgba(0, 0, 0, 1), -0.03em 0.08em 0 rgba(0, 0, 0, 1), -0.03em 0 0 rgba(0, 0, 0, 1);
      }
          span {
              transform: scale(0.9);
              display: inline-block;
            }
            span:first-child {
              animation: bop 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards infinite
                alternate;
            }
            span:last-child {
              animation: bopB 1s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards
                infinite alternate;
            }
          
          
          @keyframes bop {
            0% {
              transform: scale(0.9);
            }
            50%,
            100% {
              transform: scale(1);
            }
          }
          
          @keyframes bopB {
            0% {
              transform: scale(0.9);
            }
            80%,
            100% {
              transform: scale(1) rotateZ(-3deg);
            }
}

.inputBody{
    margin-top: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #333; 
    transition: 1s;
}

.inputBody:hover{
    border-bottom: 3px solid var(--title-dark);
}

#iconLogin{
    font-size: 2rem;
    color: var(--title-dark);

}

#inputFix{
    background-color: rgba(255, 255, 255, 0);
    border: none;
    padding-left: 2rem;
    padding-bottom: 1rem;
    font-size: 1.5rem;
    outline: none;
    color: var(--title);
    
    transition: 1s;
}


#inputFix::placeholder{
    color: var(--title-dark);
    padding-left: 0.2rem;
    font-size: 1.5rem;
}

.groupButton{
    display: flex;
    justify-content: space-between;
}

#buttonRegister{
    text-decoration: none;
    outline: none;

    margin-left: 1rem;
    color: var(--title-dark);
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem 1.5rem;
    border: 3px solid var(--title-dark);
    border-radius: 1rem;
    transition: 1s;
}

#buttonRegister:hover{
    color: white;
    background-color: var(--title-dark);
    border: 1px solid var(--title);
}


    /*  Estilos Bar Social Media */

    
    .flexContainer {
        display: flex;
        padding: 0;
        position: relative;
        width: 100%;
      }
      .flexContainer li {
        list-style: none;
        flex-grow: 1;
      }

      #iconLogin{
        
        font-size: 3rem;
    }

      .twitter {
        background-color: #55acee;
        order: 5;
      }
      .twitter:hover {
        background-color: #5595c5;
      }
      .facebook {
        background-color: #3b5998;
        order: 3;
      }
      .facebook:hover {
        background-color: #364e81;
      }
      .linkedin {
        background-color: #0976b4;
        order: 1;
      }
      .linkedin:hover {
        background-color: #255c3e;
      }
      .codepen {
        background-color: #181818;
        order: 2;
      }
      .codepen:hover {
        background-color: #a00000;
      }
      .dribbble {
        background-color: black;
        order: 4;
      }
      .dribbble:hover {
        background-color: #3a3637;
      }
      .twitter, 
      .facebook,
      .linkedin,
      .codepen,
      .dribbble,
      .twitter:hover, 
      .facebook:hover, 
      .linkedin:hover,
      .codepen:hover,
      .dribbble:hover {
        transition: background-color .5s ease;
      }
      .flexContainer a {
        display: flexbox;
      }
      .flexContainer #iconLogin {
        color: #fff;
        padding: 0.5rem;
        line-height: 100px;
        width: 100%;
        text-align: center;
      }

 