  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white:#fff;
    --background: #e9e8e8;
    --gray-line: #DCDDE0;
    --text: #666666;
    --text-highlight: #B3B9FF;
    --title: #2E384D;
    --title-dark: rgb(107, 54, 160);
    --red: #E83F5B;
    --green: #4CD30B;
    --blue: #5965E0;
    --blue-dark: #4953B8;
    --blue-twitter: #2AA9E0;
}

body{
    background-color: var(--background);
    overflow: hidden;
}

